<tr id="row${id}">
    <td>${mode}</td>
    <td>${action}</td>
    <td>${createdat}</td>
    <td>${memberid}</td>
    <!--<td>${tier}</td>-->
    <td>${club}</td>
    <td>${firstname}</td>
    <td>${lastname}</td>
    <td>${email}</td>
    <td>${enrolledat}</td>
    <td>${address1}</td>
    <td>${address2}</td>
    <td>${city}</td>
    <td>${state}</td>
    <td>${country}</td>
    <td>${postalcode}</td>
    <td>${phone}</td>
    <!--<td>Membership_Status</td>-->
    <td>${user}</td>
    <td>Ip</td>
</tr>