<tr id="row${orderid}">
    <td>${orderid}</td>
    <td>${invoice_type}</td>
    <td>${trip}</td>
    <td>${clubname}</td>
    <td>${orderstatus}</td>
    <td>${orderreason}</td>
    <td>${createdat}</td>
    <td>${mode} </td>
    <!--<td>CTS Member ID </td>-->
    <td>${memberid}</td>
    <td>${member_city}</td>
    <td>${member_country}</td>
    <td>${tier}</td>
    <td>${referrerid}</td>
    <td>${guest_firstname}</td>
    <td>${guest_email}</td>
    <td>${supplier}</td>
    <!--<td>Hotel Name</td>-->
    <td>${confirmation_number}</td>
    <!--
    <td>Travel Start</td>
    <td>Travel End</td>
    <td>Depart City</td>
    <td>Destination City</td>
    -->
    <td>${mor}</td>
    <!--
    <td>Order Ident</td>
    <td>Payment ID</td>
    <td>Correlation ID</td>
    -->
    <td>${currency}</td>
    <!--<td>Exchange Rate</td>-->
    <td>${roomcoins}</td>
    <!--
    <td>Room Coins in Currency</td>
    <td>Room Coins in USD</td>
    <td>Trip Coins in Currency</td>
    <td>Trip Coins in USD</td>
    <td>BitPay in Currency</td>
    <td>BitPay in USD</td>
    <td>Crypto in Currency</td>
    <td>Crypto in USD</td>
    <td>PayPal in Currency</td>
    <td>PayPal in USD</td>
    <td>Card Amt Charged in Currency</td>
    <td>Card Amt Charged in USD</td>
    <td>Credit Card Amt Collected USD</td>
    <td>Date Credit Card Collected</td>
    <td>Card Amt passed in Currency</td>
    <td>Card Amt passed in USD</td>
    <td>Total Booking in Currency</td>
    <td>Total Booking in USD</td>
    <td>Public Price in Currency</td>
    <td>Public Price in USD</td>
    <td>Savings in Currency</td>
    <td>Savings in USD</td>
    <td>Original Net Price USD</td>
    <td>Merch Markup</td>
    <td>Booking Benefit</td>
    <td>Client Markup</td>
    <td>CTS Markup</td>
    <td>Expected Margin</td>
    <td>Expected Margin %</td>
    <td>Booking Amended Date</td>
    <td>Booking Refund Date</td>
    <td>Card USD Amount Refunded</td>
    <td>Room Coins or Trip Coins USD Refunded</td>
    <td>Refund Transaction Id</td>
    <td>Revised Booking Total Amount</td>
    <td>Revised Margin</td>
    <td>Actual Net Price USD</td>
    <td>Net Price Paid Date</td>
    <td>Actual Margin Received</td>
    <td>Actual Margin Received Date</td>
    <td>Client Paid</td>
    <td>Client Paid Date</td>
-->
    <td>${property_address1}</td>
    <td>${property_address2}</td>
    <td>${property_city}</td>
    <td>${property_state}</td>
    <td>${property_country}</td>
    <td>${property_postalcode}</td>
    <td>${property_phone}</td>
    <!--    <td>Lead Time</td> -->
    <td>${verified}</td>
    <!--
    <td>System Date of Confirmation</td>
    <td>System Staff</td>
-->
</tr>