<tr id="row${id}">
    <td class="table-action col-md-1">
        <a role="button" class="delete-resource" data-id="${id}" data-name="${name}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-trash align-middle">
                <polyline points="3 6 5 6 21 6"></polyline>
                <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
            </svg>
        </a>
    </td>
    <td>
        <input type="checkbox" data-id="${id}" class="delete-check" data-name="${name}" />
    </td>
    <td>
        ${type}
    </td>
    <td>
        ${name}
    </td>
    <td>
        ${description}
    </td>
    <td>
        ${url}
    </td>
    <td>
        ${method}
    </td>
    <td>
        {%if (status == "ACTIVE")%}
        <label class="badge bg-success">${status}</label>
        {%elseif (status == "INACTIVE")%}
        <label class="badge bg-warning">${status}</label>
        {%else%}
        <label class="badge bg-danger">${status}</label>
        {%/if%}
    </td>
</tr>